body {
    font-family: 'Lato', sans-serif;
    background-color: #FFFFF0;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #800000;
    color: #FFFFFF;
    text-align: center;
    padding: 1em 0;
}

.navbar-nav .nav-link {
    font-size: 1.1em;
}

main {
    padding: 20px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    margin-bottom: 30px;
}

.card-title a {
    text-decoration: none;
    color: #800000;
}

.card-text {
    color: #333;
}

.product-detail .img-fluid {
    max-width: 100%;
    height: auto;
}

.details {
    padding: 20px;
    border: 1px solid #CCC;
    border-radius: 5px;
    background-color: #FFF;
}

.form-group label {
    font-weight: bold;
}

.btn-success {
    background-color: #228B22;
    border: none;
    cursor: pointer;
}
